
<% if (params[:connect_sticky_to_coaction] == 'connect') then  %>
  <% Coaction.find(params[:coaction_id]).stickies << Sticky.find(params[:sticky_id]) %>
<% else %>
   <% if (params[:connect_sticky_to_coaction]) == 'disconnect' then %>
   <% Coaction.find(params[:coaction_id]).stickies.delete(Sticky.find(params[:sticky_id])) %>
 <% end %>
<% end %>
<p><%= link_to 'Back to mission', @mission %></p>

<p>Plan courses of action for: <%= @mission.name %></p>

<% n = 0 %>
<% @mission.stickies.each do |sticky| %>
    <% if !(sticky.coactions.empty?) then (n += 1) end %>
  <% end %>
 <% if n == 0 then percent_done = 0 else percent_done = (n.to_f / @mission.stickies.count.to_f * 100).to_i end %>

<div class="meter-wrap">
    <% prg_str = '<div class="meter-value" style="background-color: #0a0; width: ' + percent_done.to_s + '%;">' %>
    <%= prg_str.html_safe %>
        <div class="meter-text">
            <%= "#{percent_done}% done" %>
        </div>
    </div>
</div>

<p><%= link_to 'See the finished plan', "/missions/finish/#{@mission.id}" %></p>

<%= render :partial => "coactions/form" %> 
<p> Selecting for: <b><%= if params[:coaction_id] then Coaction.find(params[:coaction_id]).name else 'No action selected' end %></b> </p>
<p><% @coactions = Coaction.where(:mission_id => params[:mission_id]) %>
   <% @coactions.each do |coaction| %>
    <% if !(params[:coaction_id]) || !(coaction.id == params[:coaction_id].to_i) then %> 
      <% c = Collaborator.where(:user_id => current_user.id, :mission_id => coaction.mission_id).first %>
      <% if (c.permission == 'creator' || c.permission == 'admin') || coaction.user_id == current_user.id then %>
           <%= link_to 'del', [coaction.mission, coaction],
               :confirm => 'Are you sure?',
               :method => :delete %>
       <% else %>
         <font color = "#FFA500"><%= User.find(coaction.user_id).name[0..2] %></font>
       <% end %> |
       <%= link_to "#{coaction.name}", mission_coactions_path(:mission_id => params[:mission_id], :coaction_id => coaction.id)%><br>
      <% end %>
    <% end %>
       </p>

        <% success    = Sticky.where(:mission_id => @mission.id, :kind => 'success') %>
        <% driver     = Sticky.where(:mission_id => @mission.id, :kind => 'driver') %>
        <% constraint = Sticky.where(:mission_id => @mission.id, :kind => 'constraint') %>
        <% fact       = Sticky.where(:mission_id => @mission.id, :kind => 'fact') %>
        <% assumption = Sticky.where(:mission_id => @mission.id, :kind => 'assumption') %>
        <% rows = [success.count, driver.count, constraint.count, fact.count, assumption.count].max %>


Put links from success to a view of the successes, drivers, etc. Put link to toggle clumps by column?
<div id="tableContainer" class="tableContainer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable">
<thead class="fixedHeader">
<tr>
  <th><a href="#">Successes</a></th>
  <th><a href="#">Drivers</a></th>
  <th><a href="#">Constraints</a></th>
  <th><a href="#">Facts</a></th>
  <th><a href="#">Assumptions</a></th>
</tr>
</thead>
<tbody class="scrollContent">
    <% if rows < 1 then %>
        <tr>
        <% 5.times do %>
            <td>No content</td>
            <% end %>
        </tr>
        <% else %>
            <% i = 0 %>
            <% while i < rows do %>
              <tr>
                <td>
                  <% if success[i] then %>
                    <% connect_action = 'connect' %>
                    <% if !(success[i].coactions.empty?) then %>
                        <font color="#088A29">
                        <%= success[i].coactions.count %></font>  
                        <% if ((params[:coaction_id]) && (Coaction.find(params[:coaction_id]).stickies.include? Sticky.find(success[i].id))) then %>
                              <font color = "red">&bull;</font>
                              <% connect_action = 'disconnect' %>
                        <%  else %>
                            |
                        <% end %>
                    <% else %>
                      <font color="red" >0</font> |
                    <% end %>
                    <% if params[:coaction_id] then %>
                            <%= link_to "#{success[i].name}", mission_coactions_path(:mission_id => params[:mission_id], :coaction_id => params[:coaction_id], :sticky_id => success[i].id, :connect_sticky_to_coaction => connect_action) %>
                        <% else %>
                          <%= success[i].name %>
                        <% end %>
                   <% end %> 
                </td>
                <td>                  
                  <% if driver[i] then %>
                    <% connect_action = 'connect' %>
                    <% if !(driver[i].coactions.empty?) then %>
                        <font color="#088A29">
                        <%= driver[i].coactions.count %></font>  
                        <% if ((params[:coaction_id]) && (Coaction.find(params[:coaction_id]).stickies.include? Sticky.find(driver[i].id))) then %>
                              <font color = "red">&bull;</font>
                              <% connect_action = 'disconnect' %>
                        <%  else %>
                            |
                        <% end %>
                    <% else %>
                      <font color="red" >0</font> |
                    <% end %>
                    <% if params[:coaction_id] then %>
                            <%= link_to "#{driver[i].name}", mission_coactions_path(:mission_id => params[:mission_id], :coaction_id => params[:coaction_id], :sticky_id => driver[i].id, :connect_sticky_to_coaction => connect_action) %>
                        <% else %>
                          <%= driver[i].name %>
                        <% end %>
                   <% end %> 
                </td>
                <td>                  
                  <% if constraint[i] then %>
                    <% connect_action = 'connect' %>
                    <% if !(constraint[i].coactions.empty?) then %>
                        <font color="#088A29">
                        <%= constraint[i].coactions.count %></font>  
                        <% if ((params[:coaction_id]) && (Coaction.find(params[:coaction_id]).stickies.include? Sticky.find(constraint[i].id))) then %>
                              <font color = "red">&bull;</font>
                              <% connect_action = 'disconnect' %>
                        <%  else %>
                            |
                        <% end %>
                    <% else %>
                      <font color="red" >0</font> |
                    <% end %>
                    <% if params[:coaction_id] then %>
                            <%= link_to "#{constraint[i].name}", mission_coactions_path(:mission_id => params[:mission_id], :coaction_id => params[:coaction_id], :sticky_id => constraint[i].id, :connect_sticky_to_coaction => connect_action) %>
                        <% else %>
                          <%= constraint[i].name %>
                        <% end %>
                   <% end %> 
                </td>
                <td>                  
                  <% if fact[i] then %>
                    <% connect_action = 'connect' %>
                    <% if !(fact[i].coactions.empty?) then %>
                        <font color="#088A29">
                        <%= fact[i].coactions.count %></font>  
                        <% if ((params[:coaction_id]) && (Coaction.find(params[:coaction_id]).stickies.include? Sticky.find(fact[i].id))) then %>
                              <font color = "red">&bull;</font>
                              <% connect_action = 'disconnect' %>
                        <%  else %>
                            |
                        <% end %>
                    <% else %>
                      <font color="red" >0</font> |
                    <% end %>
                    <% if params[:coaction_id] then %>
                            <%= link_to "#{fact[i].name}", mission_coactions_path(:mission_id => params[:mission_id], :coaction_id => params[:coaction_id], :sticky_id => fact[i].id, :connect_sticky_to_coaction => connect_action) %>
                        <% else %>
                          <%= fact[i].name %>
                        <% end %>
                   <% end %> 
                <td>                  
                  <% if assumption[i] then %>
                    <% connect_action = 'connect' %>
                    <% if !(assumption[i].coactions.empty?) then %>
                        <font color="#088A29">
                        <%= assumption[i].coactions.count %></font>  
                        <% if ((params[:coaction_id]) && (Coaction.find(params[:coaction_id]).stickies.include? Sticky.find(assumption[i].id))) then %>
                              <font color = "red">&bull;</font>
                              <% connect_action = 'disconnect' %>
                        <%  else %>
                            |
                        <% end %>
                    <% else %>
                      <font color="red" >0</font> |
                    <% end %>
                    <% if params[:coaction_id] then %>
                            <%= link_to "#{assumption[i].name}", mission_coactions_path(:mission_id => params[:mission_id], :coaction_id => params[:coaction_id], :sticky_id => assumption[i].id, :connect_sticky_to_coaction => connect_action) %>
                        <% else %>
                          <%= assumption[i].name %>
                        <% end %>
                   <% end %> 
                </td>
              </tr>
              <% i += 1 %>
            <% end %>
        <% end %>
  </tr>
  </table>
</div>








