
<h1>Mission Analysis</h1>
<% if current_user then %>
    <p><%= link_to "My Missions", missions_path %></p>
    <% @user = User.find(current_user.id) %>
    <p>You are part of <%= Collaborator.where("user_id = ? AND (confirmed = ? OR confirmed = ?)", @user.id, 'true', 't').count %> missions. </p>
    <p id="notice"><%= notice %></p>
    <% @collaborators = Collaborator.where("user_id = ? AND (confirmed = ? OR confirmed = ?)", @user.id, 'false', 'f') %>
    <% if @collaborators then %>
       <p>Collaboration invitations: </p>
       <% @collaborators.each do |c| %>
            
            <br><%= link_to 'Accept', confirm_collaborator_path(c, :confirmed => 'true') %> | 
                <%= link_to 'Decline', [@user, c],
               :confirm => "You wish to decline collaborating with #{User.find(c.inviter_user_id).name} on #{Mission.find(c.mission_id).name}?",
               :method => :delete %> 
                <%= User.find(c.inviter_user_id).name %> invited you to collaborate on 
                <%= Mission.find(c.mission_id).name %>
        <% end %>
    <% end %>

<% end %>

<p></p><p></p><p></p><p></p>
Notes: put mission stats here for the user? Or maybe on mission index page.


