<p id="notice"><%= notice %></p>

<BR>

<! # I know this code should be locked away in a controller somewhere -- too much learning... arggghh !>
<% if params[:add_to_clump] == 'true' then  %>
    <% @success = Success.find(params[:success_id]) %>
    <% @success.clump_id = params[:clump_id] %>
    <% @success.save %>
<% end %>
<% if params[:add_to_clump] == 'false' then %> 
    <% @success = Success.find(params[:success_id]) %>
    <% @success.clump_id = nil %>
    <% @success.save %>
<% end %>




<b>Clump<font color = "#7D2252"> <%= params[:kind].capitalize %></font> for Mission: </b><%= @mission.name %>

<BR><BR>
<% if params[:edvar] then %>
    <%= render "clumps/edvar_form" %>
<% else %>
    <%= render "clumps/form" %>
<% end %>





<table  width="50%">
  <col width="500">
  <col width="500">
  <tr>
    <th>Unclumped <%= params[:kind].capitalize.pluralize %></th>
    <th><%= if params[:clump_id] then Clump.find(params[:clump_id]).name end || "No clump selected" %></th>
  </tr>
  <tr>
    <td><ul>
        <% @mission.successes.each do |success| %>
            <% if !(success.clump) then %>
                <li><% if params[:clump_id] then %>
                    <%= link_to 'Add', mission_clumps_path(:mission_id => @mission.id, :kind => $kind, :clump_id => params[:clump_id], :success_id => success.id, :add_to_clump => true) %>
                    <% end %>
                <%= success.name %></li>
            <% end %>
        <% end %>
        </ul>
    </td><td><ul>
        <% if params[:clump_id] then %>
          <% @clump = Clump.find(params[:clump_id]) %>
          <% $clump_id_param = params[:clump_id] %> <! # hate to do this global var but can't get params to go to controller !>
          <% @clump.successes.each do |success|    %>
                <li><%= link_to 'Rem', mission_clumps_path(:mission_id => @mission.id, :kind => $kind, :clump_id => params[:clump_id], :success_id => success.id, :add_to_clump => false) %> | 
                <%= success.name %></li>
            <% end %>
        <% end %>
        </ul>
    <td>
    </td>
  </tr>
</table>

<p> BUG FIX needed where Update Clump updates instead of creating a new clump </p>

<%=  render @mission.clumps.find_all { |clump| clump.user_id != nil }%>









