<p id="notice"><%= notice %></p>



<! # I know this code should be locked away in a controller somewhere -- too much learning... arggghh !>

<% if params[:add_to_clump] == 'true' then  %>
    <% @sticky = Sticky.find(params[:sticky_id]) %>
    <% @sticky.clump_id = params[:clump_id] %>
    <% @sticky.save %>
<% end %>
<% if params[:add_to_clump] == 'remove' then %> 
    <% @sticky = Sticky.find(params[:sticky_id]) %>
    <% @sticky.clump_id = nil %>
    <% @sticky.save %>
<% end %>


<h3>Mission:<%= @mission.name %></h3>

<%= link_to 'Back to mission', @mission %>
<p><b>Clump<font color = "#7D2252"> 
    <%= Sticky.where(:kind => params[:kind], :mission_id => params[:mission_id]).count %>
    <%= params[:kind].pluralize.capitalize || @sticky.kind.pluralize.capitalize %>:</b></font>  </p>
<% if params[:edvar] then %>
    <%= render "clumps/edvar_form" %>
<% else %>
    <%= render "clumps/form" %>
<% end %>


<table  width="50%" border = "1">
  <col width="500">
  <col width="500">
  <tr>
    <th>Unclumped <%= params[:kind].pluralize.capitalize || @sticky.kind.pluralize.capitalize %></th>
    <th><%= if params[:clump_id] then Clump.find(params[:clump_id]).name end || "No clump selected" %></th>
  </tr>
   
  <tr>
    <td><ul>
        <% @stickies = @mission.stickies.find_all { |sticky| sticky.user_id && sticky.kind == params[:kind] && !(sticky.clump_id) } %>
     
        <%= render @stickies, :unclumped => 'truly', :clump_id => params[:clump_id] %>
 
        </ul>
    </td><td><ul>
            <% if params[:clump_id] then %>
            
              <% @stickies = @mission.stickies.where("kind = :kind AND clump_id = :clump_id ", { :kind => params[:kind], :clump_id => params[:clump_id] } ) %> 
              <% else  %> 
               <% @stickies.clear %>
            <% end %>
            
            <%= render @stickies, :unclumped => 'not_true', :clump_id => params[:clump_id] %>

        </ul>
    </td>
  </tr>
</table>

<BR><BR>
<h3>Available clumps:</h3>

<%  clumps = @mission.clumps.find_all { |clump| clump.user_id && clump.kind == params[:kind] } %>
<%=  render clumps.reverse %>










