<br><h1>My missions:</h1>
<blockquote>
<%= link_to 'New Mission', new_mission_path %>
<% if @missions then %>
<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th>Name</th>
    <th>Blurb</th>
    <th></th>
    <th></th>
  </tr>

<%# Want to list my missions, my collaboration missions, first 10 public missions %>
<%# later want activity page showing recent updates since my last visit %>
<%# So, lets get an array of all those missions from the index controller... %>
 <% @missions.each do |mission| %>
  <tr>
    <% @collaborator = Collaborator.where( :mission_id => mission.id, :user_id => current_user.id ) %>
    <td><%= if mission.is_public then 'Pub|' else '   ' end %></td>
    <td><%= @collaborator.first.permission.capitalize %></td>
    <td><%= if @collaborator.first.permission != 'viewer' then link_to 'Plan', mission end %> | </td>
    <td><%= mission.name[0..30] %></td>
    <td>  |  <%= mission.blurb[0..60] %></td>
    <% if @collaborator.first.permission == 'creator' || @collaborator.first.permission == 'admin' then   %>
       <td>&nbsp &nbsp...<%= link_to 'Edit', edit_mission_path(mission) %> | </td>
       <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'All mission data will be permantently deleted. Are you sure?' } %></td>
    <% end %>
  </tr>
 <% end %>
 <% else %>
    <%= flash[:notice] = "You have no missions to show here." %>
 <% end %>
</table>

<br />

</blockquote>
