<p id="notice"><%= notice %></p>
<%= link_to 'New Mission', new_mission_path %><br>
<h1>My missions:</h1>
<blockquote>
<% if @missions then %>
<style>
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}
td
{
padding:5px;
}
</style>

<table width="80%">
  <col width="150">
  <col width="50">
  <col width="100">
  <col width="300">
  <col width="500">

  <tr>
    <th>Actions</th>
    <th>Public</th>
    <th>Status</th>
    <th>Name</th>
    <th>Blurb</th>
  </tr>

 <% @missions.each do |mission| %>
  <tr>
    <td>
    <% @collaborator = Collaborator.where( :mission_id => mission.id, :user_id => current_user.id ) %>
    <%= if @collaborator.first.permission != 'viewer' then link_to 'Plan', mission_stickies_path(mission, :kind => 'success') end %>
    <% if @collaborator.first.permission == 'creator' || @collaborator.first.permission == 'admin' then   %>
       | <%= link_to 'Edit', edit_mission_path(mission) %> |
       <%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'All mission data will be permantently deleted. Are you sure?' } %>
    <% else %>   
      Owner: <% c = Collaborator.where(:mission_id => mission.id, :permission => ['creator','admin']).first %>
             <%= User.find(c.user_id).name[0..4] %>
    <% end %>
    </td>
    <td><%= if mission.is_public then 'Yes' else 'No' end %></td>
    <td> <%= @collaborator.first.permission.capitalize %></td>
    <td><%= mission.name[0..60] %></td>
    <td><%= mission.blurb[0..120] %></td>
  </tr>
 <% end %>
 <% else %>
    <%= flash[:notice] = "You have no missions to show here." %>
 <% end %>
</table>

<br />

</blockquote>
