<p id="notice"><%= notice %></p>

<p>
  <% if @mission.is_public %>
    <b>Public </b>
  <% end %>
  <b>Mission:</b>
  <%= @mission.name %>
</p>

<p>
  <b>Blurb:</b>
  <%= @mission.blurb %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'All Missions', missions_path %>
<br><br>

<b>Signs and visions of wild success:</b>
<%= render "successes/form" %>

     <! # The form creates an empty instance waiting to be posted. We want to keep that empty instance invisible !>
     <! # out of the rendered array -- so we render n-1 elements of the array. !>
    <ul> 
     <% n = @mission.successes.count - 1 %>
    <% if n >= 0 %>
        <%= render @mission.successes[0..n].reverse %>
        <% else %>
            <li><font color="b5b5b5">Visions of wild success appear here</font></li>
    <% end %>
    </ul>

<div id="wrap">
    <div id="left_col">
        <b>Resources and drivers of success:</b>
        <%= render "drivers/form" %>
        <ul>
            <% n = @mission.drivers.count - 1 %>
            <% if n >= 0 %>
              <%= render @mission.drivers[0..n].reverse %>
            <% else %>
              <li><font color="b5b5b5">Drivers and resources appear here</font></li>
            <% end %>
        </ul>
        
        <br>
        
        <b>Facts:</b>
        <%= render "facts/form" %>
        <ul>
            <% n = @mission.facts.count - 1 %>
            <% if n >= 0 %>
              <%= render @mission.facts[0..n].reverse %>
            <% else %>
              <li><font color="b5b5b5">Facts appear here</font></li>
            <% end %>
        </ul>
    </div>
    <div id="right_col">
        <b>Constraints and obstacles to success:</b>
        <%= render "constraints/form" %>
        <ul>
            <% n = @mission.constraints.count - 1 %>
            <% if n >= 0 %>
              <%= render @mission.constraints[0..n].reverse %>
            <% else %>
              <li><font color="b5b5b5">Constraints appear here</font></li>
            <% end %>
        </ul>
        
        <br>

         <b>Assumptions:</b>
        <%= render "assumptions/form" %>
        <ul>
            <% n = @mission.assumptions.count - 1 %>
            <% if n >= 0 %>
              <%= render @mission.assumptions[0..n].reverse %>
            <% else %>
              <li><font color="b5b5b5">Assumptions appear here</font></li>
            <% end %>
        </ul>
    </div>
</div>

