<p id="notice"><%= notice %></p>

<p>
  <% c = Collaborator.where(:mission_id => @mission.id, :user_id => current_user.id).first %>
  <% if @mission.is_public %>
    <b>Public </b>
  <% else %>
  <font color = "#00800"><%= c.permission.capitalize %></font>
  <% end %>
  <b>Mission:</b>
  <%= @mission.name %>
</p>
<p>Put link to Add Collaborators Here | 
<% cs = Collaborator.where(:mission_id => @mission.id) %>
 Number of collaborators: <%= cs.count %></p>

<p>
  <table>
  <col width="800">
  <tr>
  <td> <b>Blurb: </b><%= @mission.blurb %></td>
  </tr>
  </table>
  
</p>

<% if c.permission == ('creator' || 'admin') then %>
    <%= link_to 'Edit', edit_mission_path(@mission) %> |
  <% end %>
<%= link_to 'All Missions', missions_path %>
<br><br>

<b>Signs and visions of wild success:</b>  <%= link_to 'Clump Successes', mission_clumps_path(:mission_id => @mission.id, :kind => 'success') %>   
<%= render :partial => "stickies/form", :locals => { :kind => "success" } %> 
    <ul> 
     <% stickies = @mission.stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'success' } %>
    <% if stickies[0] %>
        <%= render stickies.reverse %> 
        <% else %>
            <li><font color="b5b5b5">Visions of wild success appear here</font></li>
    <% end %>
    </ul>

<div id="wrap">
    <div id="left_col">
        <b>Resources and drivers of success:</b>  <%= link_to 'Clump Drivers', mission_clumps_path(:mission_id => @mission.id, :kind => 'driver') %> 
        <%= render :partial => "stickies/form" , :locals => { :kind => "driver" } %>
        <ul>
            <% stickies = @mission.stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'driver' } %>
            <% if stickies[0] %>
                <%= render stickies.reverse %>
            <% else %>
              <li><font color="b5b5b5">Drivers and resources appear here</font></li>
            <% end %>
        </ul>        
        <br>        
        <b>Facts:</b> <%= link_to 'Clump Facts', mission_clumps_path(:mission_id => @mission.id, :kind => 'fact') %>
        <%= render :partial => "stickies/form" , :locals => { :kind => "fact" } %>
        <ul>
            <% stickies = @mission.stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'fact' } %>
            <% if stickies[0] %>
                <%= render stickies.reverse %>
            <% else %>
              <li><font color="b5b5b5">Facts appear here</font></li>
            <% end %>
        </ul>
    </div>
    <div id="right_col">
        <b>Constraints and obstacles to success:</b>  <%= link_to 'Clump Constraints', mission_clumps_path(:mission_id => @mission.id, :kind => 'constraint') %>
        <%= render :partial => "stickies/form" , :locals => { :kind => "constraint" } %>
        <ul>
            <% stickies = @mission.stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'constraint' } %>
            <% if stickies[0] %>
                <%= render stickies.reverse %>
            <% else %>
              <li><font color="b5b5b5">Constraints appear here</font></li>
            <% end %>
        </ul>
        <br>
         <b>Assumptions:</b>  <%= link_to 'Clump Assumptions', mission_clumps_path(:mission_id => @mission.id, :kind => 'assumption') %>
        <%= render :partial => "stickies/form" , :locals => { :kind => "assumption" } %>
        <ul>
            <% stickies = @mission.stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'assumption' } %>
            <% if stickies[0] %>
                <%= render stickies.reverse %>
            <% else %>
              <li><font color="b5b5b5">Assumptions appear here</font></li>
            <% end %>
        </ul>
    </div>
</div>

