<p id="notice"><%= notice %></p>
<% if !params[:reorder] then reorder = 'none' end %>
<% n = 0 %>
<% @mission.stickies.each do |sticky| %>
      <% if !(sticky.coactions.empty?) then (n += 1) end %>
<% end %>


<style>
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}
td
{
padding:10px;
}
</style>

<table width="100%">
  <col width="200">
  <col width="200">
  <tr>
  <td align="left" valign="top" background="#ababab">
   <%= link_to 'See all missions', missions_path %><br><br>
   <b>Mission: </b><%= @mission.name %>
   <br><b>Description: </b><%= @mission.blurb %>
   
   <% if @collaborator.permission == ('creator' || 'admin') then %>
    <%= link_to 'Edit', edit_mission_path(@mission) %> |
   <% end %>

   <br><%= if @mission.is_public then 'Public' end %>
   <br>My role: <font color = "#00800"><%= @collaborator.permission.capitalize %></font>
   
   <% if current_user.invitation_limit >0 then %>
        <%= link_to "Invite collaborators", new_mission_invitation_path(@mission) %>
        (you have <%= current_user.invitation_limit %> left)<br>
    <% end %>
  
    Mission planning stats:
   <blockquote>
   Collaborators:
   <%= if Collaborator.where(:mission_id => @mission.id).count > 1 then 
       Collaborator.where(:mission_id => @mission.id).count
       else 'just you' end %>. <br>
    Courses of action: <%= @mission.coactions.count %><br>
    Mission factors: <%= @mission.stickies.count %><br>
    Factors accounted for: <% if n > 0 then %><font color="green"><%= n %></font><% else %>None<% end %><br>
    Unaccounted factors: <% if @mission.stickies.count - n > 0 then %><font color="red"><%= @mission.stickies.count - n %></font><% else %> None <% end %><br>
    <% percent_finished = (if n == 0 then 0 else (n.to_f / @mission.stickies.count.to_f * 100).to_i end) %>
    Factors are <%= percent_finished %>% matched to actions.<br>
    </blockquote>
    
    <% finished_plan_string = 'See your completely unfinished plan' %>
    <% if percent_finished == 0 then finished_plan_string = 'Make some courses of action before clicking here' end %>
    <% if percent_finished > 9 then finished_plan_string = 'See your plan barely started' end %>
    <% if percent_finished > 19 then finished_plan_string = 'See your plan on the way' end %>
    <% if percent_finished > 29 then finished_plan_string = 'See your plan well underway' end %>
    <% if percent_finished > 39 then finished_plan_string = 'See your plan moving along nicely' end %>
    <% if percent_finished > 49 then finished_plan_string = 'See your plan halfway done' end %>
    <% if percent_finished > 59 then finished_plan_string = 'See your plan over the hump' end %>
    <% if percent_finished > 69 then finished_plan_string = 'See your plan getting there soon' end %>
    <% if percent_finished > 79 then finished_plan_string = 'See your plan nearly finished' end %>
    <% if percent_finished > 89 then finished_plan_string = 'See your plan just before it\'s done' end %>
    <% if percent_finished == 100 then finished_plan_string = 'You did it! See your completed plan!' end %>

    
    <%= link_to "Easy step by step planning", mission_stickies_path(@mission, :kind => 'success') %> | 
    <%= link_to "Plan courses of action", mission_coactions_path(@mission) %> | 
    <%= link_to finished_plan_string, "finish/#{@mission.id}" %>

     
  </td>

 <td align="left" valign="top" background = "red">
  <b>Signs and visions of wild success:</b>
  <%= link_to 'Clump Successes', mission_clumps_path(:mission_id => @mission.id, :kind => 'success') %>   
  <%= render :partial => "stickies/form", :locals => { :kind => "success", :track => 0 } %> 
  <% stickies = @stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'success' } %>
  <%= render :partial => "stickies/sticky_list", :locals => {:kind => 'success', 
                :stickies => stickies, :reorder => params[:reorder], :track => 0 } %><p></p>
  <%= link_to 'Reorder successes', mission_path(@mission, :reorder => 'success') %>
  </td>
  </tr>

<tr><td align="left" valign="top">
<a name="drivers"></a>
<b>Resources and drivers of success:</b>  
  <%= link_to 'Clump Drivers', mission_clumps_path(:mission_id => @mission.id, :kind => 'driver') %> 
  <%= render :partial => "stickies/form" , :locals => { :kind => "driver", :track => 0 } %>
  <% stickies = @stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'driver' } %>
  <%= render :partial => "stickies/sticky_list", :locals => {:kind => 'driver', 
                :stickies => stickies, :reorder => params[:reorder], :track => 0 } %><p></p>
  <%= link_to 'Reorder drivers', mission_path(@mission, :reorder => 'driver') + '#drivers' %>
</td>

<td align="left" valign="top">
<a name="constraints"></a>    
<b>Constraints and obstacles to success:</b>  
  <%= link_to 'Clump Constraints', mission_clumps_path(:mission_id => @mission.id, :kind => 'constraint') %>
  <%= render :partial => "stickies/form" , :locals => { :kind => "constraint", :track => 0 } %>
  <% stickies = @stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'constraint' } %>
  <%= render :partial => "stickies/sticky_list", :locals => {:kind => 'constraint', 
                :stickies => stickies, :reorder => params[:reorder], :track => 0 } %><p></p>
  <%= link_to 'Reorder constraints', mission_path(@mission, :reorder => 'constraint') + '#constraints' %>
</td>
</tr>

  
<tr><td align="left" valign="top"> 
<a name="facts"></a>
<b>Facts:</b> 
  <%= link_to 'Clump Facts', mission_clumps_path(:mission_id => @mission.id, :kind => 'fact') %>
  <%= render :partial => "stickies/form" , :locals => { :kind => "fact", :track => 0 } %>
  <% stickies = @stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'fact' } %>
  <%= render :partial => "stickies/sticky_list", :locals => {:kind => 'fact', 
                :stickies => stickies, :reorder => params[:reorder], :track => 0 } %><p></p>
  <%= link_to 'Reorder facts', mission_path(@mission, :reorder => 'fact') + '#facts' %>
 </td>

 <td align="left" valign="top">
 <a name="assumptions"></a> 
  <b>Assumptions:</b>  
  <%= link_to 'Clump Assumptions', mission_clumps_path(:mission_id => @mission.id, :kind => 'assumption') %>
  <%= render :partial => "stickies/form" , :locals => { :kind => 'assumption', :track => 0 } %>
  <% stickies = @stickies.find_all { |sticky|  sticky.user_id && sticky.kind == 'assumption' } %>
  <%= render :partial => "stickies/sticky_list", :locals => {:kind => 'assumption', 
                :stickies => stickies, :reorder => params[:reorder], :track => 0 } %><p></p>
  <%= link_to 'Reorder assumptions', mission_path(@mission, :reorder => 'assumption') + '#assumptions'%>
 </td>
 </tr>
</table>
      





