<p id="notice"><%= notice %></p>

<p>
  <% c = Collaborator.where(:mission_id => @mission.id, :user_id => current_user.id).first %>
  <% if @mission.is_public %>
    <b>Public </b>
  <% else %>
  <font color = "#00800"><%= c.permission.capitalize %></font>
  <% end %>
  <b>Mission:</b>
  <%= @mission.name %>
</p>
<p>Put link to Add Collaborators Here | 
<% cs = Collaborator.where(:mission_id => @mission.id) %>
 Number of collaborators: <%= cs.count %></p>

<p>
  <table>
  <col width="800">
  <tr>
  <td> <b>Blurb: </b><%= @mission.blurb %></td>
  </tr>
  </table>
  
</p>

<% if c.permission == ('creator' || 'admin') then %>
    <%= link_to 'Edit', edit_mission_path(@mission) %> |
  <% end %>
<%= link_to 'All Missions', missions_path %>
<br><br>

<b>Signs and visions of wild success:</b>  <%= link_to 'Clump Successes', mission_clumps_path(:mission_id => @mission.id, :kind => 'success') %>   
<%= render "successes/form" %>
    <ul> 
     <% successes = @mission.successes.find_all { |success|  success.user_id } %>
    <% if successes %>
        <%= render successes.reverse %>
        <% else %>
            <li><font color="b5b5b5">Visions of wild success appear here</font></li>
    <% end %>
    </ul>

<div id="wrap">
    <div id="left_col">
        <b>Resources and drivers of success:</b>
        <%= render "drivers/form" %>
        <ul>
        <% drivers = @mission.drivers.find_all { |driver|  driver.user_id } %>
        <% if drivers %>
              <%= render drivers.reverse %>
            <% else %>
              <li><font color="b5b5b5">Drivers and resources appear here</font></li>
            <% end %>
        </ul>        
        <br>        
        <b>Facts:</b>
        <%= render "facts/form" %>
        <ul>
            <% facts = @mission.facts.find_all { |fact|  fact.user_id } %>
            <% if facts %>
              <%= render facts.reverse %>
            <% else %>
              <li><font color="b5b5b5">Facts appear here</font></li>
            <% end %>
        </ul>
    </div>
    <div id="right_col">
        <b>Constraints and obstacles to success:</b>
        <%= render "constraints/form" %>
        <ul>
            <% constraints = @mission.constraints.find_all { |constraint|  constraint.user_id } %>
            <% if constraints %>
              <%= render constraints.reverse %>
            <% else %>
              <li><font color="b5b5b5">Constraints appear here</font></li>
            <% end %>
        </ul>
        <br>
         <b>Assumptions:</b>
        <%= render "assumptions/form" %>
        <ul>
            <% assumptions = @mission.assumptions.find_all { |assumption|  assumption.user_id } %>
            <% if assumptions %>
              <%= render assumptions.reverse %>
            <% else %>
              <li><font color="b5b5b5">Assumptions appear here</font></li>
            <% end %>
        </ul>
    </div>
</div>

