<p id="notice"><%= notice %></p>

<p>
  <b>Mission HI MICHAEL!:</b>
  <%= @mission.name %>
</p>

<p>
  <b>Blurb:</b>
  <%= @mission.blurb %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'All Missions', missions_path %>
<br><br>

<%= render "successes/form" %>

<b>Signs and visions of wild success:</b>
     <! # The form creates an empty instance waiting to be posted. We want to keep that empty instance invisible !>
     <! # out of the rendered array -- so we render n-1 elements of the array. !>
    <ul> 
     <% n = @mission.successes.count - 1 %>
     <%= render @mission.successes[0..n].reverse %>
    </ul>

<div id="wrap">
    <div id="left_col">
        <%= render "drivers/form" %>
        <b>Resources and drivers of success:</b>
        <ul>
            <% n = @mission.drivers.count - 1 %>
            <%= render @mission.drivers[0..n].reverse %>
        </ul>
        
        <br>
        
        <%= render "facts/form" %>
        <b>Facts:</b>
        <ul>
            <% n = @mission.facts.count - 1 %>
            <%= render @mission.facts[0..n].reverse %>
        </ul>
    </div>
    <div id="right_col">
        <%= render "constraints/form" %>
        <b>Constraints and obstacles to success:</b>
        <ul>
            <% n = @mission.constraints.count - 1 %>
            <%= render @mission.constraints[0..n].reverse %>
        </ul>
        
        <br>

        <%= render "assumptions/form" %>
         <b>Assumptions:</b>
        <ul>
            <% n = @mission.assumptions.count - 1 %>
            <%= render @mission.assumptions[0..n].reverse %>
        </ul>
    </div>
</div>

