<p id="notice"><%= notice %></p>

<% kind = params[:kind] || 'success' %>
<style>
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}
td
{
padding:5px;
}
</style>

<table width="60%">
  <col width="600">
<tr><td>
<h2>
 <% if kind == 'success' then %>
  Envision wild success for:
 <% end %>
 <% if kind == 'driver' then %>
  List drivers and resources for 
 <% end %>
 <% if kind == 'constraint' then %>
  List constraints and obstacles for
 <% end %>
 <% if kind == 'fact' then %>
  List relevant facts for 
 <% end %>
 <% if kind == 'assumption' then %>
  List relevant assumptions for 
 <% end %>
 <font color="green"><%= @mission.name + "." %></font> </h2>

<p><%= link_to 'Mission overview', @mission %> | <%= link_to "Plan courses of action", mission_coactions_path(@mission) %> |    
<%= link_to 'Clump ' + kind.pluralize.capitalize, mission_clumps_path(:mission_id => @mission.id, :kind => kind) %> 
</td></tr>
<tr><td>
  <%= render :partial => "stickies/form", :locals => { :kind => kind, :track => 1 } %> 
</p>
</td></tr>
<tr><td>

   <%= render :partial => "stickies/sticky_list", :locals => {:kind => kind, 
                :stickies => @stickies, :reorder => kind, :track => 1 } %>
</td></tr>
</table>


<br>
<blockquote>
<% if kind == 'success' then %>
  Retreat!<%= link_to image_tag('back_button.jpg', :width => 50, :height => 30), new_mission_collaborator_path(@mission) %>
  <%= link_to image_tag('next_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'driver') %>Onward!
 <% end %>
 <% if kind == 'driver' then %>
  Retreat!<%= link_to image_tag('back_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'success') %>
  <%= link_to image_tag('next_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'constraint') %>Onward!
 <% end %>
 <% if kind == 'constraint' then %>
  Retreat!<%= link_to image_tag('back_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'driver') %>
  <%= link_to image_tag('next_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'fact') %>Onward!
 <% end %>
 <% if kind == 'fact' then %>
  Retreat!<%= link_to image_tag('back_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'constraint') %>
  <%= link_to image_tag('next_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'assumption') %>Onward!
 <% end %>
 <% if kind == 'assumption' then %>
  Retreat!<%= link_to image_tag('back_button.jpg', :width => 50, :height => 30), mission_stickies_path(@mission, :kind => 'fact') %>
  <%= link_to image_tag('next_button.jpg', :width => 50, :height => 30), mission_coactions_path(@mission) %>Onward!

 <% end %>
 </blockquote>


