<!DOCTYPE html>
<html>
<head>
  <title>Wild Success</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag('plan_wild_success_logo.png', :width => 400, :height => 50) %>
<%= image_tag('beta_testing.png', :height => 50) %>

<div id = "user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.name %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>&nbsp &nbsp
        <%= link_to "Home", home_index_path %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>.
    <% end %>
</div>

<%= yield %>



</body>
</html>
